@model StellerAcunMedyaAkademiPortfolio.Models.TblService
@{
    ViewBag.Title = "UpdateMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmet Bilgisi Güncelleme Sayfası</h2>

<br />
<form method="post">
    <input type="hidden" name="ServiceId" value="@Model.ServiceId" />
    <input type="text" name="ServiceIconUrl" class="form-control" value="@Model.ServiceIconUrl" placeholder="Icon Giriniz" required />
    <br />
    <input type="text" name="ServiceName" class="form-control" value="@Model.ServiceName" placeholder="Hizmet Adını Giriniz" required />
    <br />
    <input type="text" name="ServiceStatus" class="form-control" value="@Model.ServiceStatus" placeholder="Hizmet Durumu Giriniz" required />
    <br />
    <button class="btn btn-outline-warning">Güncelle</button>
</form>
