@model StellerAcunMedyaAkademiPortfolio.Models.TblMessage
@{
    ViewBag.Title = "UpdateMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateMessage</h2>

<br />
<form method="post">
    <input type="hidden" name="MessageId" value="@Model.MessageId" />
    <input type="text" name="NameSurname" class="form-control" value="@Model.NameSurname" placeholder="İsim Soyisim Giriniz" required />
    <br />
    <input type="text" name="MessageContent" class="form-control" value="@Model.MessageContent" placeholder="Mesajınızı Giriniz" required />
    <br />
    <input type="email" name="Email" class="form-control" value="@Model.Email" placeholder="Email Giriniz" required />
    <br />
    <button class="btn btn-outline-warning">Güncelle</button>
</form>
