@model StellerAcunMedyaAkademiPortfolio.Models.TblSkill
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddSkill</h2>

<br />
<form method="post">
    <input type="text" name="SkillName" class="form-control" placeholder="Yetenek Adı Giriniz" required />
    <br />
    <input type="text" name="Title" class="form-control" placeholder="Başlık Giriniz" required />
    <br />
    <input type="number" name="Value" class="form-control" placeholder="Derecesini Giriniz" required />
    <br />
    <input type="text" name="Description" class="form-control" placeholder="Açıklama Giriniz" required />
    <br />
    <button class="btn btn-outline-warning">Kaydet</button>
</form>
