@model StellerAcunMedyaAkademiPortfolio.Models.TblProject
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Proje Bilgisi Ekleme Sayfası</h2>

<br />
<form method="post">
    <input type="text" name="Title" class="form-control" placeholder="Başlık Giriniz" required />
    <br />
    <input type="text" name="ImageUrl" class="form-control" placeholder="Resim Giriniz" required />
    <br />
    <input type="text" name="GithubUrl" class="form-control" placeholder="Github Adresi Giriniz" required />
    <br />
    <input type="text" name="Description" class="form-control" placeholder="Açıklama Giriniz" required />
    <br />
    <button class="btn btn-outline-warning">Kaydet</button>
</form>
